* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; 
    background-image: url(../images/fondo_login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    z-index: -10;
}

.login-container {
    background-color: #fff;
    width: 80%; /* Ancho en porcentaje para adaptabilidad */
    max-width: 320px; /* Ancho máximo para pantallas grandes */
    min-height: auto; /* La altura se ajusta al contenido */
    display: flex;
    flex-direction: column; /* Cambiado a column para apilar el formulario centrado */
    justify-content: center; /* Centra el contenido verticalmente dentro del contenedor */
    align-items: center; /* Centra el contenido horizontalmente dentro del contenedor */
    border-radius: 10px;
    opacity: 0.88;
    padding: 30px;
    box-sizing: border-box;
}

.form-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    width: 100%; 
}

.form-section h1 {
    margin-bottom: 30px;
    font-size: 1.6em;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-section button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    width: 100%; /* El botón ocupa todo el ancho del formulario */
}

.form-section button[type="submit"]:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 40px;
    text-align: center;
    width: 100%; /* Los enlaces ocupan todo el ancho del formulario */
}

.links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}

